main {
  width: 80%;
  margin: auto;
  text-align: justify;
  line-height: 1.5em;
  background-color: hsl(109, 2%, 22%);
  padding: 1em;
  font-size: 1.2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  color: hsl(197, 2%, 75%);
}

ic {
  font-family: "Hack Nerd Font";
  font-size: 16px;
  background: hsl(0, 0%, 18%);
  color: hsl(0, 0%, 80%);
  padding-left: 0.4em;
  padding-right: 0.4em;
}

ic::before {
  content: "››› ";
  color: yellow;
}

hl {
  font-family: "Hack Nerd Font";
  font-size: 16px;
  background: hsl(10, 0%, 68%);
  color: hsl(10, 80%, 10%);
  padding-left: 0.4em;
  padding-right: 0.4em;	
}

table, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
	padding: 5px 10px;
}

thead, tfoot {
    background-color: gray;
    color: black;
    text-align: center;
}
